@use 'variables' as v; 
@use 'mixins' as m; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fontPrimary;
    font-size: 1.8rem;
    color: v.$darkgrayishblue;
    overflow-x: hidden;

    &[data-scroll="false"] {
        overflow: hidden;

        @include m.tablet { 
            overflow-y: auto;
        }
    }
}
p {
    line-height: 1.7;
    margin: 0;
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 2rem  0;
    font-family: v.$fontSecondary;
    font-weight: 900;

    @include m.desktop { 
        margin-bottom: 3rem;
    }
}

h1 {
    font-size: 3.85rem;
    color: v.$white;
    text-transform: uppercase;
    letter-spacing: .8rem;

    @include m.tablet { 
        font-size: 4.4rem;
        letter-spacing: 1.1rem;
    }

    @include m.desktop { 
        font-size: 5.6rem;
    }
}

h2 {
    font-size: 3rem;
    color: v.$verydarkdesaturatedblue;

    @include m.tablet-xl { 
        font-size: 3.8rem;
    }

    @include m.desktop { 
        font-size: 4.2rem;
    }
}

h3 {
    font-size: 2.4rem;
    color: v.$darkdesaturatedcyan;

    @include m.tablet-xl { 
        font-size: 3rem;;
    }
}

h4 {
    margin-bottom: 7.5rem;
    color: v.$grayishblue;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

h5 {
    color: v.$verydarkdesaturatedblue;
    font-size: 1.8rem;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}