@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: relative;

    &__logo {

        img {
            @include m.tablet-xl { 
                width: 17rem;
            }
        }
    }

    &__nav {
        padding: 3.5rem 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0%;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        z-index: 10;
        
    }

    &__button {
        height: 2.4rem;
        position: relative;
        width: 3.3rem;
        padding: 0;

        @include m.tablet { 
            display: none;
        }

        & * {
            background: v.$white;
            border-radius: 1rem;
            height: 4px;
            left: 0rem;
            position: absolute;
            transition: all 0.3s ease 0s;
            transform-origin: center center;
            width: 100%;
        }

        span {

            &:nth-child(1) {
                top: 0rem;
            }

            &:nth-child(2) {
                top: calc(50% - 2px);
            }

            &:nth-child(3) {
                bottom: 0.01rem;
            }
        }

        &.activo {
            height: 2.4rem;
            position: relative;
            width: 3.3rem;
            padding: 0;

            & * {
                background: v.$white;
                border-radius: 1rem;
                height: 4px;
                left: 0rem;
                position: absolute;
                transition: all 0.3s ease 0s;
                transform-origin: center center;
                width: 100%;
            }

            span {

                &:nth-child(1) {
                    transform: rotate(45deg) translate(7px, 7px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -7px);
                }
            }
        }
    }

    &__overlay {
        opacity: 0;
        display: none;
        transition: opacity .3s;

        &.activo {
            opacity: 1;
            background: linear-gradient(transparent, v.$verydarkdesaturatedblue);
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;

            @include m.tablet { 
                display: none;
                opacity: 0;
            }
        }
    }

    &__image-m {
        width: 100%;
        height: auto;

        @include m.tablet { 
            display: none;
        }
    }

    &__image-t {
        display: none;

        @include m.tablet { 
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__heading {
        text-align: center;
        position: absolute;
        top: 14.9rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;

        @include m.desktop { 
            top: 17.5rem;
        }
    }

    &__arrow {
        background-image: url(../img/icon-arrow-down.svg);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 29.1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 4rem;
        height: 12rem;
        animation-name: updown;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        @include m.desktop { 
            top: 36.1rem;
        }
    }
}

.nav {
    padding: 5.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: fixed;
    top: 10.5rem;
    left: 0;
    background-color: v.$white;
    width: 100%;
    transform: translateX(-110%);
    transition-property: transform;
    transition-duration: .3s;

    &[data-visible="true"] {
        transform: translateX(0%);
    }

    @include m.tablet { 
        transform: translateX(0%);
        position: initial;
        flex-direction: row;
        padding: 0;
        background-color: transparent;
        width: auto;
    }

    &::before {
        content: '';
        background-color: v.$white;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -2.9rem;
        right: 0;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        transform: rotate(-90deg);
        
        @include m.tablet { 
            display: none;
        }
    }

    &__enlace {
        color: v.$grayishblue;
        position: relative;

        &:last-of-type {
            @include m.boton(v.$yellow, v.$verydarkdesaturatedblue, true);

            @include m.tablet { 
                @include m.boton(v.$white, v.$verydarkdesaturatedblue);
            }
        }

        &:not(:last-of-type)::before {
            content: '';
            width: 100%;
            height: .4rem;
            background-color: v.$black;
            position: absolute;
            border-radius: 1rem;
            bottom: .2rem;
            left: 0;
            transform-origin: left;
            transform: scaleX(0);
            transition-property: transform;
            transition-duration: .5s;
            z-index: -1;

            @include m.tablet { 
                display: none;
            }
        }

        &:hover::before {
            transform: scaleX(1);
        }

        @include m.tablet { 
            color: v.$white;
        }
    }
}